
#hits {
	padding: 10px 0;
	min-height: 600px;
	.hit {
		padding-bottom: 14px;
		margin-bottom: 14px;
		border-bottom: 1px solid #EEE;
	}
	.hit_price {
		color: #F6624E;
		margin-top: 0;
		margin-left: 20px;
	}
	.hit_name {
		margin-top: 0;
	}
	p {
		font-size: 13px;
		min-height: 20px;
		color: #999;
	}
	em {
		font-style: normal;
		text-decoration: none;
		background: #FDDED9;
	}
	.hit_tags {
		text-align: right;
		li {
			background: #FAFAFA;
			border: 1px solid #EEE;
			padding: 2px 5px 1px;
			font-size: 12px;
			margin-bottom: 4px;
			em {
				font-style: normal;
				font-weight: bold;
				text-decoration: none;
				background: none;
			}
		}
	}
}
p#no-hits {
	padding: 40px;
	text-align: center;
	font-weight: 300;
	font-size: 22px;
	font-style: italic;
}