html {
  overflow-y: scroll;
}

/* HEADER */
.page-header {
  padding-bottom: 2px;
  margin: 16px 0 8px;
  margin-top: 0;
  border-bottom-width: 2px;
}
.page-header h5 { margin-bottom: 2px }

header { margin-top: 40px }
#logo {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
@media (min-width: 992px) {
    #logo {
      width: 100%;
      max-width: 100%;
      text-align: left;
    }
}

/* FACETS */

#facets { margin-top: 10px }
#facets li.refined .facet_link { color: #F6624E }
#facets li.refined .facet_link:hover,
#facets li.refined .facet_link.hover { color: #333333 }
#facets .additional-facets,
#facets .show-less { display: none }
#facets .facet-slider { margin: 10px 0 20px }
#facets .facet-slider .slider-wrapper { display:inline-block;padding: 0 10px;width: 81%; }
#facets .facet-slider .slider { width: 100%; }
#facets .facet-slider .slider .slider-selection { background: #FDDED9 }
#facets .facet-slider .slider .slider-handle {
  background: #F6624E;
  opacity: 1;
}
#facets .facet-slider .slider .slider-track { background: #DDD }
#facets .facet_link {
  color: #333333;
  font-size: 13px;
}
#facets .facet_link:hover,
#facets .facet_link.hover {
  color: #F6624E;
  text-decoration: none;
}
#facets .facet { margin-top: 20px }
#facets .facet h5 { text-transform: uppercase }

/* HITS */

#hits {
  padding: 10px 0;
  min-height: 600px;
}
#hits .hit_price {
  color: #F6624E;
  margin-top: 0;
  margin-left: 20px;
}
#hits .hit_name { margin-top: 0 }
#hits .hit_tags { text-align: right }
#hits .hit_tags li {
  background: #FAFAFA;
  border: 1px solid #EEE;
  padding: 2px 5px 1px;
  font-size: 12px;
  margin-bottom: 4px;
}
#hits .hit_tags li em {
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  background: none;
}
#hits .hit {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #EEE;
}
#hits em {
  font-style: normal;
  text-decoration: none;
  background: #FDDED9;
}
#hits p {
  font-size: 13px;
  min-height: 20px;
  color: #999;
}
p#no-hits {
  padding: 40px;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  font-style: italic;
}

/* SEARCH INPUT */

#search_input {
  padding: 0;
  margin-top: 4px;
  margin-bottom: 20px;
}
#search_input span.input-group-addon#input-remove { display: none }
#search_input span.input-group-addon {
  border: none;
  background: none;
  font-size: 16px;
  padding: 0;
  color: #9F9F9F;
}
#search_input input#q {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  padding: 0;
  font-weight: 100;
  line-height: 1;
  color: #333;
}
#search_input input#q::-webkit-input-placeholder { color: #9F9F9F }
#search_input input#q:-ms-input-placeholder { color: #9F9F9F }
#search_input input#q::-moz-placeholder { color: #9F9F9F }
#search_input input#q:-moz-placeholder { color: #9F9F9F }
@media (min-width: 480px) {
    #search_input input#q { font-size: 22px }
    #search_input span.input-group-addon { font-size: 14px }
}
@media (min-width: 768px) {
    #search_input input#q { font-size: 28px }
    #search_input span.input-group-addon { font-size: 19px }
}
@media (min-width: 992px) {
    #search_input { margin-bottom: 0 }
    #search_input span.input-group-addon { font-size: 21px }
    #search_input input#q { font-size: 32px }
}
#input-search.glyphicon-remove {
  cursor: pointer;
}

/* CAPTION */
.main_caption { margin-bottom: 30px }
p.main-caption_text { font-size: 15px }

/* STATS */
#stats h5 {
  margin-top: 0;
  margin-bottom: 4px;
}
#stats h5 span {
  font-weight: 300;
  margin-left: 6px;
}

/* Sort */
#sort-by {
  font-weight: 300;
  margin-right: 4px;
  position: relative;
  top: -2px;
}
#sort-button {
  background: none;
  border: none;
  position: relative;
  top: -3px;
  padding: 0;
}
.btn-group.open #sort-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* CHECKBOXES */
.checkbox-hidden { display: none }
.checkbox-hidden:checked + .checkbox-label:hover:before { background-position: 1px -21px }
.checkbox-hidden:checked + .checkbox-label:before { background-position: 1px 3px }
.checkbox-hidden + .checkbox-label {
  margin-left: 25px;
  position: relative;
  font-weight: normal;
}
.checkbox-hidden + .checkbox-label:hover:before { background-position: -23px -22px }
.checkbox-hidden + .checkbox-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 16px;
  height: 16px;
  background: url(../img/icons.png) -23px 2px no-repeat;
}
.checkbox-label { cursor: pointer }

/* FOOTER */

footer.well {
  background-color: white;
  box-shadow: none;
  margin-top: 100px;
}
