/* Layout */

.navbar {
  padding-top: 1em;
}

/* /Layout */

/* Hits */

/** Highlighted words **/
.hit em {
  font-style: normal;
  font-weight: bold;
  background: #ffffe5;
}

.star-img {
  display: block;
  width: 84px;
  height: 15px;
  background: url(http://s3-media3.ak.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png) no-repeat;
}
.stars_0 { background-position: -3px -3px }
.stars_1 { background-position: -3px -21px }
.stars_1_half { background-position: -3px -39px }
.stars_2 { background-position: -3px -57px }
.stars_2_half { background-position: -3px -75px }
.stars_3 { background-position: -3px -93px }
.stars_3_half { background-position: -3px -111px }
.stars_4 { background-position: -3px -129px }
.stars_4_half { background-position: -3px -147px }
.stars_5 { background-position: -3px -165px }

/* /Hits */


/* Facets */

.list-group-item {
  padding: 5px;
}
.list-group-item.refined {
  background: #BBD9F4;
}
.list-group-item.refined a {
  font-weight: bold;
  color: #24527E;
}

/** Slider **/
.slider {
  margin-left: 10px;
  margin-right: 10px;
}

.slider-selection {
  background: #D9EDF7;
}
/** /Slider **/

/** Checkbox **/

input[type="checkbox"]:focus, input[type="checkbox"]:active, button[type="button"].btn-link:focus, button[type="button"].btn-link:active {
  outline: none;
}

/** /Checkbox **/

/* /Facets */
