/* Layout */

.navbar {
  padding-top: 1em;
}

/* /Layout */

/* Hits */

/** Highlighted words **/
.hit em {
  font-style: normal;
  font-weight: bold;
  background: #ffffe5;
  text-decoration: underline;
}

.star-img {
  display: block;
  width: 84px;
  height: 15px;
  background: url(http://s3-media3.ak.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png) no-repeat;
}
.stars_0 { background-position: -3px -3px }
.stars_1 { background-position: -3px -21px }
.stars_1_half { background-position: -3px -39px }
.stars_2 { background-position: -3px -57px }
.stars_2_half { background-position: -3px -75px }
.stars_3 { background-position: -3px -93px }
.stars_3_half { background-position: -3px -111px }
.stars_4 { background-position: -3px -129px }
.stars_4_half { background-position: -3px -147px }
.stars_5 { background-position: -3px -165px }

/* /Hits */


/* Facets */

.list-group-item {
  padding: 5px;
}
.list-group-item.refined {
  background: #BBD9F4;
}
.list-group-item.refined a {
  font-weight: bold;
  color: #24527E;
}

/** Slider **/
.slider {
  margin-left: 10px;
  margin-right: 10px;
}

.slider-selection {
  background: #D9EDF7;
}
/** /Slider **/

/** Checkbox **/

input[type="checkbox"]:focus, input[type="checkbox"]:active, button[type="button"].btn-link:focus, button[type="button"].btn-link:active {
  outline: none;
}




.facet.has-autocomplete .list-group-item {
  display: none;
}

.facet.has-autocomplete .list-group-item.refined,
.facet.has-autocomplete .list-group-item.list-group-item-info,
.facet.has-autocomplete .list-group-item.autocomplete {
  display: block;
}

.facet.has-autocomplete .list-group-item.autocomplete .twitter-typeahead {
  width: 100%;
}


/* /Typeahead */
.typeahead, .tt-query, .tt-hint { width: 100%; padding: 8px 12px; border: 1px solid #ccc; outline: none; margin: 0px; }
.typeahead { background-color: #fff; }
.typeahead:focus { border: 2px solid #0097cf; }
.tt-query { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.tt-hint { color: #999 }
.tt-dropdown-menu { width: 100%; padding: 8px 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-top: 0px; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2); -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2); box-shadow: 0 5px 10px rgba(0,0,0,.2); }
.tt-suggestion { text-align: left; padding: 3px 20px; font-size: 18px; line-height: 24px; }
.tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.tt-suggestion p { margin: 0; }
.tt-suggestion a { color: #000; text-decoration: none; }
.tt-suggestion em { font-weight: bold; font-style: normal; }
